<app-background></app-background>

<header class="flex flex-col items-center justify-center w-full mb-2 isolate">
  <img [src]="'../assets/images/icon.png'" class="h-24 drop-shadow-2xl"/>
  <h2 class="mt-4 font-agrandir text-slate-800">ReadMe Wizard</h2>
  <p class="mt-4 font-writter text-slate-500">
    Streamline the process of creating a README file for your projects
  </p>
</header>
<div
  class="absolute flex flex-col items-center justify-center w-full gap-12 lg:flex-row lg:items-start"
>
  <main
    [ngClass]="{ 'max-w-96': generatedMarkdown$ | async }"
    class="block w-full max-w-[700px]"
  >
    <app-form (generateMarkdown)="generateMarkdown()"></app-form>
  </main>
  <aside
    *ngIf="generatedMarkdown$ | async as markdown"
    class="max-h-full w-full max-w-[800px] top-9 block lg:sticky overflow-hidden"
  >
    <app-md-code-snippet
      (updateFileGenerated)="generateMarkdown()"
      [text]="markdown"
    ></app-md-code-snippet>
  </aside>
</div>

<app-toast
  *ngFor="let toast of toastService.toasts | async"
  [toast]="toast"
></app-toast>
