<app-background></app-background>

<div class="absolute flex flex-row items-start justify-center w-full gap-12 py-12 prose max-w-none">

    <main class="sticky top-0 max-w-96 ">
        <div class="h-[90vh] overflow-auto p-4">

            <div class="flex flex-col">
                <h4>Project Title</h4>
                <input type="text" placeholder="Type here" class="w-full max-w-xs input input-bordered" />
            </div>

            <div class="flex flex-col">
                <h4>Project Description</h4>
                <textarea [value]="description$ | async" class="textarea textarea-bordered"
                    placeholder="Bio"></textarea>
            </div>

            <div class="flex flex-col">
                <h4>Main Image Url</h4>
                <input type="text" placeholder="Type here" class="w-full max-w-xs input input-bordered" />
            </div>

            <div class="flex flex-col">
                <h4>Screenshots Url</h4>
                <textarea [value]="description$ | async" class="textarea textarea-bordered"
                    placeholder="Bio"></textarea>
            </div>

            <div class="flex flex-col">
                <h4>Technologies</h4>

                <div tabindex="0" class="border collapse collapse-arrow border-base-300">
                    <div class="text-xl font-medium collapse-title">
                        Select technologies used
                    </div>
                    <div class="collapse-content">
                        <app-tech-picker></app-tech-picker>
                    </div>
                </div>

            </div>

            <div class="form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">Include License</span>
                    <input type="checkbox" class="toggle" checked />
                </label>
            </div>

        </div>
        <button (click)="generateMarkdown()" class="mt-4 btn">Button</button>
    </main>
    <aside class="max-h-full overflow-auto">
        <app-md-preview *ngIf="displayMarkdown$ | async" [text]="markdownData"></app-md-preview>
    </aside>
</div>